<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>Bibli</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>livresServlet</servlet-name>
		<servlet-class>ServletLivres</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>livresServlet</servlet-name>
		<url-pattern>/livres</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>utilisateurServlet</servlet-name>
		<servlet-class>ServletUtilisateurs</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>utilisateurServlet</servlet-name>
		<url-pattern>/util</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>empruntServlet</servlet-name>
		<servlet-class>ServletEmprunts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>empruntServlet</servlet-name>
		<url-pattern>/emprunt</url-pattern>
	</servlet-mapping>
</web-app>